 body {
    background: #262626;
		color: #f2f2cc;
}


 /* unvisited link */
a:link {
    color: #f2f2cc;
    text-decoration: underline;
}

/* visited link */
a:visited {
    color: #f2f2cc;
    text-decoration: underline;
}

/* mouse over link */
a:hover {
    color: #f2f2cc;
    font-weight: bold;
}

/* selected link */
a:active {
    color: #f2f2cc;
} 

.logo {
	font-family: "Lucida Console", Monaco, monospace;
	/*text-align: center;*/
    background-color: #7e7e7e;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

